<div class="ui segment">
    <h3 class="ui dividing header">Dodavanje Nove Sobe</h3>
    <div class="ui form">
      <div class="field">
        <label>Naziv</label>
        <input type="text" [(ngModel)]="smestaj.naziv" placeholder="Unesite naziv sobe" required="true">
      </div>
      <div class="field">
        <label>Broj Kreveta</label>
        <input type="number" [(ngModel)]="smestaj.brojKreveta" placeholder="Unesite broj kreveta">
      </div>
      <div class="field">
        <label>Cena Po Noći</label>
        <input type="number" [(ngModel)]="smestaj.cenaPoNoci" placeholder="Unesite cenu po noći">
      </div>
      <button class="ui teal button" (click)="dodajSobu()">Dodaj Sobu</button>
    </div>
  </div>