<div class="ui container">
    <h2 class="ui huge header center aligned">Naše Posebne Ponude</h2>
    <div class="ui divider"></div>
  
    <div class="ui centered grid">
      <div class="ui raised cards center aligned grid">
        <div class="card" *ngFor="let ponuda of ponude">
          <!-- Sadržaj kartica -->
          <div class="blurring dimmable image">
            <!-- Slika i dimmer -->
            <img src="{{ ponuda.slikaUrl }}" alt="{{ ponuda.naziv }}">
          </div>
          <div class="content">
            <div class="header">{{ ponuda.naziv }}</div>
            <div class="description">
              {{ ponuda.opis }}
            </div>
          </div>
          <div class="extra content">
            <button class="ui primary button">Saznaj Više</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  